version: "3.9"

services:
  php:
    build: .
    container_name: library_php
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      YII_ENV: dev
      YII_DEBUG: "1"
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_PORT: ${DB_PORT}
    depends_on:
      - db

  nginx:
    image: nginx:1.27-alpine
    container_name: library_nginx
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

  db:
    image: mariadb:11
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u${MYSQL_USER} -p${MYSQL_PASSWORD} --silent" ]
      interval: 5s
      timeout: 3s
      retries: 30
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
